<!DOCTYPE html>
<html>

<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Projects</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'js/script.js' %}">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>


<body>
        
        <div id="project_img_container">
        <img class="projects_img" src="{% static 'images/the_dad_life.jpeg' %}" alt="luke looking backwards in a stroller">
        <img class="projects_img" src="{% static 'images/stadium_chasers.jpeg' %}" alt="tiger">

        </div>

    
        
 




</body>
</html>
        
       
        

</body>

</html>