<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>My Resume</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <script src='main.js'></script>
</head>
<body>
        <div id="header">
                
                
                <img src="https://images.pexels.com/photos/3957982/pexels-photo-3957982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar">


        </div>
        <div id="resume_wrapper">
        <div id="intro">
                
               
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae delectus corporis, sint accusamus, provident, sequi ipsum sunt ducimus dolore similique! Obcaecati similique vero facere accusantium cum veniam delectus, saepe veritatis, nulla aperiam voluptatibus dolorum esse, non id optio placeat eos. Aut, recusandae? Deserunt quo possimus, commodi pariatur esse laborum quia itaque inventore rem explicabo reprehenderit voluptatibus dicta error optio consequuntur nobis cum dignissimos! Id nisi, fuga provident placeat necessitatibus deleniti sapiente obcaecati vero quae enim maxime voluptate voluptas veritatis. Earum optio reprehenderit repellendus? Culpa suscipit asperiores exercitationem.</p></br>

                <a href="/images/resume.pdf" download class="resume_buttons">Download My Resume</a>
                <a href="/resume" class="resume_buttons">Contact Me</a>
        </div>
        <div id="experience">

                <h2>Experience</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae delectus corporis, sint accusamus, provident, sequi ipsum sunt ducimus dolore similique! Obcaecati similique vero facere accusantium cum veniam delectus, saepe veritatis, nulla aperiam voluptatibus dolorum esse, non id optio placeat eos. Aut, recusandae? Deserunt quo possimus, commodi pariatur esse laborum quia itaque inventore rem explicabo reprehenderit voluptatibus dicta error optio consequuntur nobis cum dignissimos! Id nisi, fuga provident placeat necessitatibus deleniti sapiente obcaecati vero quae enim maxime voluptate voluptas veritatis. Earum optio reprehenderit repellendus? Culpa suscipit asperiores exercitationem.</p></br>
                
                <div class="timeline">
                        <div class="container left">
                          <div class="content">
                            <h2>2017</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        <div class="container right">
                          <div class="content">
                            <h2>2016</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        <div class="container left">
                          <div class="content">
                            <h2>2015</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        <div class="container right">
                          <div class="content">
                            <h2>2012</h2>
                            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                          </div>
                        </div>
                        
                     
                </div>
                


        </div>
        </div>
        
        
</body>
</html>