<!DOCTYPE html>
<html lang="en">

<head>
        <title>Danny Nguyen - Showcasing some old and new languages I've learned over the last couple months!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
        <div class="container-fluid ">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                        <li class="nav-item active">
                                                <a class="nav-link" href="/">Home <span
                                                                class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/about_me">About Me</a>
                                        </li>


                                </ul>
                        </div>

                </nav>
        </div>


        <div class="conatiner">

                <div class="container-fluid bg-5 maxWidth ">


                        <div class="row">


                                <div class="col-md-4 offset-md-1 mx-3 my-3">


                                        <div class="view overlay">
                                                <img src="{% static 'images/on_the_ledge.jpg' %}" class="img-fluid"
                                                        alt="Sample image for first version of blog listing">
                                                <a>
                                                        <div class="mask rgba-white-slight"></div>
                                                </a>
                                        </div>

                                </div>

                                <div class="col-md-7 text-md-left ml-3 mt-3">




                                        <h1 class="h2 mb-4">Danny Nguyen</h1>

                                        <p class="font-weight-normal">Dedicated Full stack Web Developer able to build
                                                applications from the ground up - information gathering, planning,
                                                design, development, testing and delivery and maintenance. Extremely
                                                passionate towards the learning of new languages and technologies with
                                                sensitivity to serve the needs of the business balanced with the
                                                delivery of high quality solutions. Looking to bridge my extensive sales
                                                and customer service background with my exciting new career path.</p>


                                        <div class="text-center">

                                                <a class="btn btn-primary btn-lg"
                                                        onClick="parent.location='mailto:dannylenguyen626@gmail.com?'"
                                                        role="button">Email Me</a>
                                                <a class="btn btn-primary btn-lg" role="button"
                                                        href="{% static 'images/Danny_Resume.pdf' %}"
                                                        download="Danny Nguyen's resume">Download my Resume</a>




                                        </div>

                                </div>


                        </div>


                </div>
        </div>
        <div class="icon-bar">
                <a href="https://www.facebook.com/danny.nguyen.626" class="facebook" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                <a href="#" class="google"><i class="fa fa-google"></i></a>
                <a href="https://www.linkedin.com/in/dannynguyen626" class="linkedin" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                <a href="https://github.com/DannyLNguyen" class="github" target="_blank"><i
                                class="fa fa-github"></i></a>


        </div>
        <div class="container  text-center">
                <h3 class="margin">My Background</h3>
                <p> I am a problem solver, I tinker, I am hungry for information. Learning new things have become quite the obsession. 
                        Being in the marketing/sales industry for over 18 years I have finally decided it was time to
                        freshen things up. After discovering my passion for web development, I couldn’t get enough. In
                        order to shorten the learning curve I decided to take the leap and study with Coding Dojo(a full
                        stack web dev bootcamp) I worked on individual projects as well as working with a team. I’m looking forward to bringing the same passion and
                        bridging my experience to a full-time role. </p></br>

        </div>


        <div class="container">
                <div class="page-header">
                        <h1 id="timeline">Work History</h1>
                </div>
                <ul class="timeline">
                        <li>
                                <div class="timeline-badge"><i class="glyphicon glyphicon-globe"></i></div>
                                <div class="timeline-panel">
                                        <div class="timeline-heading">
                                                <h3 class="timeline-title">Access Interational USA, 2018-2020</h3>

                                        </div>
                                        <div class="timeline-body">
                                                <p>As head of recruitment I was in charge of networking and managing J1
                                                        agencies not only in the U.S. but around the globe. Utlilizing
                                                        resoures such as social media platforms as well as holding
                                                        mixers and conferences to present new and current programs. In
                                                        the midst of recruitment, daily house cleaning duites were
                                                        trouble shooting and managing issues for the current or
                                                        potential students and employees.</p>
                                        </div>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="glyphicon glyphicon-piggy-bank"></i></div>
                                <div class="timeline-panel">
                                        <div class="timeline-heading">
                                                <h3 class="timeline-title">Prime Choice Funding, 2015-2018</h3>
                                        </div>
                                        <div class="timeline-body">
                                                <p>The role of a Sr.Loan Officer is very involved in the day to day loan
                                                        process.  Email is the primary source of communication
                                                        other than the phone itself, naturally I grew quite comfortable
                                                        around computers and the tech involved. Having to learn and
                                                        opporate new programs was routine and key to my success.</p>

                                        </div>
                                </div>
                        </li>
                        <li>
                                <div class="timeline-badge"><i class="glyphicon glyphicon-shopping-cart"></i></div>
                                <div class="timeline-panel">
                                        <div class="timeline-heading">
                                                <h3 class="timeline-title">Rockview Dairy, 2007-2015</h3>
                                        </div>
                                        <div class="timeline-body">
                                                <p>During my time here I was able to increase sales and most importantly
                                                        maintain the volume. Among all of the other duties required, I
                                                        also installed and serviced both the lottery machine and the POS
                                                        system. Troubleshooting any techinical issues with the POS system was solely dependant on my capabilities and ability to find information. </p>
                                        </div>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="glyphicon glyphicon-screenshot"></i></div>
                                <div class="timeline-panel">
                                        <div class="timeline-heading">
                                                <h3 class="timeline-title">Bobeli Screen Printing 2010-2016</h3>
                                        </div>
                                        <div class="timeline-body">
                                                <p>Creating a business from ground up is never an easy task. It was a
                                                        challenge not only did I take head on but it was also an
                                                        environment I thrived in. Being a fully functional
                                                        screenprinting shop required knowledge of programs such as Adobe
                                                        Illustrator and Photoshop in order to design or render client
                                                        artwork in order to print. Taking short classes provided by
                                                        Ryonet and local supply stores helped me navigate my otherwise
                                                        self taught journey.</p>
                                        </div>
                                </div>
                        </li>


        </div>
        
        <div class="container">
               <H1>Skills</H1></div>
        <div class="container-fluid maxWidth">
                
                <div class="row">
                        <div class="col">
                                <div class="skills_wrapper">
                                        <div class="skillbar" data-percent="85%">
                                                <div class="skillbar-title">HTML</div>
                                                <div class="skill-bar-percent">85%</div>
                                                <div class="skillbar-bar" style="width: 85%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="80%">
                                                <div class="skillbar-title">css</div>
                                                <div class="skill-bar-percent">80%</div>
                                                <div class="skillbar-bar" style="width: 80%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="70%">
                                                <div class="skillbar-title">JavaScript/jQuery</div>
                                                <div class="skill-bar-percent">70%</div>
                                                <div class="skillbar-bar" style="width: 70%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="50%">
                                                <div class="skillbar-title">bootstrap</div>
                                                <div class="skill-bar-percent">50%</div>
                                                <div class="skillbar-bar" style="width: 50%"></div>
                                        </div>

                                </div>
                        </div>
                        <div class="col">
                                <div class="skills_wrapper">
                                        <div class="skillbar" data-percent="55%">
                                                <div class="skillbar-title">HTML & CSS</div>
                                                <div class="skill-bar-percent">85%</div>
                                                <div class="skillbar-bar" style="width: 85%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="80%">
                                                <div class="skillbar-title">JavaScript</div>
                                                <div class="skill-bar-percent">70%</div>
                                                <div class="skillbar-bar" style="width: 70%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="40%">
                                                <div class="skillbar-title">Photography</div>
                                                <div class="skill-bar-percent">40%</div>
                                                <div class="skillbar-bar" style="width: 40%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="70%">
                                                <div class="skillbar-title">branding</div>
                                                <div class="skill-bar-percent">70%</div>
                                                <div class="skillbar-bar" style="width: 70%"></div>
                                        </div>

                                </div>
                        </div>


                        <div class="col">
                                <div class="skills_wrapper">
                                        <div class="skillbar" data-percent="100%">
                                                <div class="skillbar-title">Desire to learn</div>
                                                <div class="skill-bar-percent">100%</div>
                                                <div class="skillbar-bar" style="width: 100%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="90%">
                                                <div class="skillbar-title">Problem-solving</div>
                                                <div class="skill-bar-percent">90%</div>
                                                <div class="skillbar-bar" style="width: 90%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="100%">
                                                <div class="skillbar-title">Team Player</div>
                                                <div class="skill-bar-percent">100%</div>
                                                <div class="skillbar-bar" style="width: 100%"></div>
                                        </div>
                                        <div class="skillbar" data-percent="95%">
                                                <div class="skillbar-title">Punctuality</div>
                                                <div class="skill-bar-percent">95%</div>
                                                <div class="skillbar-bar" style="width: 95%"></div>
                                        </div>

                                </div>
                        </div>
                        <div class="container pf-1 text-center">
                                <h2>My Projects</h2>
                               

                                <!-- Portfolio Gallery Grid -->
                                <div class="row">
                                        <div class="column">
                                                <div class="content">
                                                        <h3>The Dad Hack</h3>
                                                        <img class="proj_img"src="{% static 'images/the_dad_life.jpeg' %}" alt="Mountains"
                                                                style="width:100%">
                                                        
                                                    
                                                </div>
                                        </div>
                                        <div class="column">
                                                <div class="content">
                                                        <h3>Stadium Chasers</h3>
                                                        <img class="proj_img" src="{% static 'images/stadium_chasers.jpeg' %}" alt="Lights" style="width:100%">
                                                        
                                                       
                                                </div>
                                        </div>
                                       
                                      
                                       
                                </div>
                        </div>








                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
                        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>







</body>

</html>