<!DOCTYPE html>
<html>

<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>My Resume</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <script src='main.js'></script>
</head>

<body>
        <script>
                function goBack() {
                  window.history.back();
                }
                </script>
        <div id="header">
                

                <ul>
                        
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/about_me">About Me</a></li>
                        <li><button class="go_back" onclick="goBack()">BACK</button></li>
                </ul>

                <div id="resume_title">
                        <h2>Danny Nguyen</h2></br>
                        <p>Full stack web developer</p>
                </div>

                <img src="https://images.pexels.com/photos/3957982/pexels-photo-3957982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="Avatar">


        </div>
        <div id="resume_wrapper">
                <div id="intro">
                        <div id="social_tabs">
                                <a href="https://www.facebook.com/danny.nguyen.626" class="fa fa-facebook" target="_blank"></a>
                                <a href="https://www.linkedin.com/in/dannynguyen626" class="fa fa-linkedin" target="_blank"></a>
                                <a href="#" class="fa fa-google"></a>
                                <a href="https://github.com/DannyLNguyen" class="fa fa-github" target="_blank"></a>
                                <a href="https://github.com/DannyLNguyen" class="fa fa-wechat" target="_blank"></a>

                        </div>


                        <p>  Dedicated Junior full stack Web Developer able to build applications from the ground up - information gathering, planning, design, development, testing and delivery and maintenance. Extremely passionate towards the learning of new langueges and technologies with sensitivity to serve the needs of the business balanced with the delivery of high quality solutions. Looking to bridge my extensive sales and customer service backround with my exciting new career path.</p></br>

                        <a href="/images/resume.pdf" download class="resume_buttons">DL My Resume</a>
                        <a href="/resume" class="resume_buttons"
                                onClick="parent.location='mailto:dannynguyen626@yahoo.com?'">Email Me</a>

                </div>
                <div id="experience">

                        <h2>Experience</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae delectus corporis,
                                sint accusamus, provident, sequi ipsum sunt ducimus dolore similique! Obcaecati
                                similique vero facere accusantium cum veniam delectus, saepe veritatis, nulla aperiam
                                voluptatibus dolorum esse, non id optio placeat eos. Aut, recusandae? Deserunt quo
                                possimus, commodi pariatur esse laborum quia itaque inventore rem explicabo
                                reprehenderit voluptatibus dicta error optio consequuntur nobis cum dignissimos! Id
                                nisi, fuga provident placeat necessitatibus deleniti sapiente obcaecati vero quae enim
                                maxime voluptate voluptas veritatis. Earum optio reprehenderit repellendus? Culpa
                                suscipit asperiores exercitationem.</p></br>

                        <div class="timeline">
                                <div class="container left">
                                        <div class="content">
                                                <h3 class="content_title">Access International, 2018-2020</h3>
                                                <p>As head of recruitment I was in charge of networking and managing J1 agencies not only in the U.S. but around the globe. Utlilizing resoures such as social media platforms as well as holding mixers and conferences to present new and current programs. In the midst of recruitment, daily house cleaning duites were trouble shooting and managing issues for the current or potential students and employees. 
                                                     </p>
                                        </div>
                                </div>
                                <div class="container right">
                                        <div class="content_right">
                                                <h3 class="content_title">Prime Choice Funding, 2015-2018</h3>
                                                <p> The role of a Sr.Loan Officer is very involved in the day to day loan process. After initially the relationship, being a call or email away helped answering any questions or addressing any concerns along the way. Email is the primary source of communication other than the phone itself, naturally I grew quite comfortable around computers and the tech involved. Having to learn and opporate new programs was a routine and key in my success.  </p>
                                        </div>
                                </div>
                                <div class="container left">
                                        <div class="content">
                                                <h3 class="content_title">Rockview Dairy, 2007-2015</h3>
                                                <p>  During my time here I was able to increase sales and most importantly maintain the volume. Among all of the other duties required, I also installed and serviced both the lottery machine and the POS system. Every holiday season, I would organize a toy drive which became an annual tradition. The last year of the drive we were able to create partnerships with manufacturers and ended up with over 50,000 toys donated!  </p>
                                        </div>
                                </div>
                                <div class="container right">
                                        <div class="content_right">
                                                <h3 class="content_title">Bobeli Screen Printing 2010-2016</h3>
                                                <p>Creating a business from ground up is never an easy task. It was a challenge not only did I take head on but it was also an environment I thrived in. Being a fully functional screenprinting shop required knowledge of programs such as Adobe Illustrator and Photoshop in order to design or render client artwork in order to print. Taking short classes provided by Ryonet and local supply stores helped me navigate my otherwise self taught journey.</p>
                                        </div>
                                </div>

                                <div id="skills_section">
                                        <h2>Skills</h2>
                                        <div id="skills_box">
                                                <h3>Frontend</h3>

                                                <p>HTML</p>
                                                <div class="skills_container">
                                                        <div class="skills html">90%</div>
                                                </div>

                                                <p>CSS</p>
                                                <div class="skills_container">
                                                        <div class="skills css">80%</div>
                                                </div>

                                                <p>JavaScript</p>
                                                <div class="skills_container">
                                                        <div class="skills js">65%</div>
                                                </div>

                                                <p>JQuery</p>
                                                <div class="skills_container">
                                                        <div class="skills php">60%</div>

                                                </div>
                                        </div>
                                        <div id="skills_box">
                                                <h3>Backend</h3>
                                                <p>Django</p>
                                                <div class="skills_container">
                                                        <div class="skills django">80%</div>
                                                </div>

                                                <p>Python</p>
                                                <div class="skills_container">
                                                        <div class="skills python">80%</div>
                                                </div>

                                                <p>Java</p>
                                                <div class="skills_container">
                                                        <div class="skills java">65%</div>
                                                </div>

                                                <p>PHP</p>
                                                <div class="skills_container">
                                                        <div class="skills php">60%</div>
                                                </div>
                                        </div>

                                        <div id="skills_box">
                                                <h3>Personal Skills</h3>
                                                <p>Leadership</p>
                                                <div class="skills_container">
                                                        <div class="skills html">90%</div>
                                                </div>

                                                <p>Punctual</p>
                                                <div class="skills_container">
                                                        <div class="skills css">90%</div>
                                                </div>

                                                <p>Analytical</p>
                                                <div class="skills_container">
                                                        <div class="skills js">80%</div>
                                                </div>

                                                <p>Communicative</p>
                                                <div class="skills_container">
                                                        <div class="skills php">90%</div>
                                                </div>
                                                <p>Committed</p>
                                                <div class="skills_container">
                                                        <div class="skills php">90%</div>
                                                </div>
                                        </div>


                                </div>


                        </div>




                </div>
        </div>


</body>

</html>