<!DOCTYPE html>
<html>

<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Welcome to my page!</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <div id="backround"></div>
        <div id="wrapper">
                
                        <h1 id="me">Danny Nguyen</h1>
               
                <div id="text_box">
                        <p>Full stack developer in the Los Angeles area. </p>

                </div>
                <div id="buttons">
                
                        <a href="/resume" class="button contact_button">View My Resume</a>
                        <a href="https://github.com/DannyLNguyen" class="button contact_button" target="_blank">Github</a> 
                        <a href="https://www.linkedin.com/in/dannynguyen626" class="button contact_button" target="_blank">Linkedin</a>
                        
                        
                        
                        
                        
                </div>


        </div>
</body>

</html>