body, html {
        height: 100%;
        margin: 0;
        
      }
#backround {
        position: static;

        background-image: url("https://images.pexels.com/photos/963278/pexels-photo-963278.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 8%;
        
}

#wrapper{
        min-width: 750px;
        height: 500px;
        padding: 10px;
       
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
}
#me{
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

}

h1 {
        text-align: center;
        color: black;
        font-family: sans-serif;
}

#text_box {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        font-size: 18px;


}

#buttons{
        display: inline-block;
        position: absolute;
        width: 630px;
        top:60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
 
  
        
}

.button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        font-family: sans-serif;
}

.contact_button {
        background-color: white; 
        color: black; 
        border: 4px solid  black;
}
      
.contact_button:hover {
        background-color:  #007bb5;
        color: white;
}

/*resume*/

#header{

        margin: auto;
        width: 960px;
        height: 250px;
        background:  #606060;
        text-align: center;
        font-family: sans-serif;
}






#resume_title{
        line-height: 0px;
        margin-top: 50px;
        
}
#header h2{
        color: white;
        margin-top: 10px;
        display: inline-block;
        text-align: center
        
}
#header p{
        color: white;
        font-size: 16px;
        display: inline-block;
        top: 10px;
        
        
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }


img {
        border-radius: 50%;
        border: 5px solid white;
        height: 150px;
        width: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
        vertical-align: bottom;
        margin-top: 17px;
      }

#intro{
        width: 960px;
        height: 310px;
        position: absolute;
        top: 410px;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        
       
}
#intro p{
        padding: 10px;
}


#social_tabs{
        width: 200px;
        
        margin-top: 90px;
        display: inline-block;
        font-size: 25px;


        }
#social_tabs a{

        text-decoration: none;
        color:  #a2a7ad;
        padding: 7px;
}



.resume_buttons{
        border: none;
        background-color: #47add5; 
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: -15px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        font-family: sans-serif;
        color: white;


}
#experience{
        min-width: 960px;
        height: 1160px;
        position: absolute;
        top: 1155px;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        font-family: sans-serif;


}

.timeline {
        position: relative;
        max-width: 960px;
        margin: 0 auto;
        display: inline-block;
        
      }
      
      /* The actual timeline (the vertical ruler) */
      .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color:  #47add5;
        top: 23px;
        bottom: 0px;
        left: 481px;
        margin-left: -3px;
      }
      
      /* Container around content */
      .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 41.6%;
        
      }
      
      /* The circles on the timeline */
      .container::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        right: -10px;
        background-color: #47add5;
        border: 4px solid #47add5;
        top: 20px;
        border-radius: 50%;
        z-index: 1;
      }
      
      /* Place the container to the left */
      .left {
        float: left;
        display: inline-block;
      }
      
      /* Place the container to the right */
      .right {
        top: 47px;
        display: inline-block;
      }
      
      /* Add arrows to the left container (pointing right) */
      .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 31px;
        border: medium solid #dcdcdc;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #47484a;
      }
      
      /* Add arrows to the right container (pointing left) */
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 31px;
        border: medium solid #dcdcdc;
        border-width: 10px 10px 10px 0;
        border-color: transparent #47484a transparent transparent ;
      }
      
      /* Fix the circle for containers on the right side */
      .right::after {
        left: -9px;
        top: 20px;
      }
      
      /* The actual content */
      .content {
        padding: 20px 30px;
        background-color: #dcdcdc;
        position: relative;
        border-radius: 6px;
        display: inline-block;
        top: 10px;
        background: linear-gradient(to top, #dcdcdc 160px,#47484a 20px)
      }
.content p{
        font-size: 12px;
}
.content_right p{
        font-size: 12px;
}
.content_right{
        padding: 20px 30px;
        background-color: #dcdcdc;
        position: relative;
        border-radius: 6px;
        display: inline-block;
        top: 10px;
        background: linear-gradient(to top, #dcdcdc 173px,#47484a 20px)
      }

.content_title{
        color: white;
        margin-top: 0px;
        display: inline-block;
        font-family: sans-serif;
        font-weight: lighter;
        
        
}
      
      /* Media queries - Responsive timeline on screens less than 600px wide */
      @media screen and (max-width: 600px) {
        /* Place the timelime to the left */
        .timeline::after {
        left: 31px;
        }
        
        /* Full-width containers */
        .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        }
        
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
        left: 60px;
        border: medium solid #dcdcdc;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        }
      
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
        left: 15px;
        }
        
        /* Make all right containers behave like the left ones */
        .right {
        left: 0%;
        top: 20px;
        }
      }

/* skills  section */

      
#skills_section{
        min-width: 960px;
        height: 500px;
        position: absolute;
        top: 760px;
        left: 50%;
        transform: translate(-50%, -50%);
        
        text-align: center;

}

#skills_box{
        height: 330px;
        width: 300px;
        display: inline-block;
        background-color: #606060;
        border-radius: 6px;
        vertical-align: top;
}
#skills_box p{
        font-size: 12px;
}

.skills_container {
        width: 90%;
        background-color: #ddd;
        margin: 0 auto;
        font-size: 12px;
      }

.skills {
        text-align: right;
        padding-top: 0px;
        padding-bottom: 0px;
        color: white;
      }
      
.html {width: 90%; background-color: #47add5;}
.css {width: 80%; background-color: #47add5;}
.js {width: 65%; background-color: #47add5;}
.php {width: 60%; background-color: #47add5;}
.django {width: 80%; background-color: #47add5;}
.python {width: 80%; background-color: #47add5;}
.js {width: 65%; background-color: #47add5;}
.php {width: 60%; background-color: #47add5;}

#personal_skills{
        height: 330px;
        width: 300px;
        display: inline-block;
        background-color: #606060;
        border-radius: 6px;
        
        


}




